*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif; }

.container {
  overflow-x: hidden;
  grid-template-columns: minmax(9vw, auto) repeat(4, min-content) minmax(9vw, auto);
  grid-template-rows: repeat(5, min-content); }

.header {
  grid-column: 1/-1;
  grid-row: 2/3; }

.game {
  grid-column: 1/-1;
  grid-row: 3/4; }

.blank {
  grid-column: 1/-1;
  grid-row: 4/5; }

.utube {
  grid-column: 1/-1;
  grid-row: 5/6; }

.navbar {
  min-height: 9vh;
  max-height: min-content;
  background-color: #000000c9;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }

.link__ {
  color: #f5f0e9;
  padding: 5vh .75vh;
  font-size: 2.2rem;
  font-weight: bold;
  height: 100%; }
  @media screen and (max-width: 550px) {
    .link__ {
      padding: 0vh 0vh; } }
  .link__main {
    font-family: "Anton", sans-serif;
    letter-spacing: 1rem;
    font-size: 4.5rem;
    color: #ff4655;
    padding: 2vh 1.5vh; }
    .link__main:hover {
      background-color: #ff4655;
      color: #000000cb; }
    @media screen and (max-width: 550px) {
      .link__main {
        padding: 0vh 0vh; } }
  .link__:hover {
    background-color: #fbfbfb;
    color: #000000cb;
    padding: 3.5vh .75vh; }

.nav {
  max-width: 100%;
  width: 100%; }

#checkbox1,
.toggle {
  display: none; }

.menu {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none; }

.menu li a {
  text-decoration: none;
  align-self: center;
  border-radius: 5px;
  font-size: 14px;
  transition: background .2s linear; }

@media screen and (max-width: 600px) {
  .menu li a {
    font-size: 13px; } }

@media screen and (max-width: 550px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #f5f0e9;
    background: #00000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .1s linear; }
  .toggle:hover {
    background: #00000000; }
  #checkbox1:checked + label .demo li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear; }
  #checkbox1:checked + label .demo {
    height: 200px; }
  .menu {
    height: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height .3s linear; }
  .menu li {
    display: flex;
    /* magic */
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden; }
  .menu li a {
    width: 100%;
    text-align: center;
    align-self: center;
    align-content: center; } }

.header {
  height: 95vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 91%, 92% 100%, 8% 100%, 0 91%, 0% 30%);
  background-color: rgba(0, 0, 0, 0.658);
  position: relative;
  z-index: 1; }
  .header__heading {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .header__heading--h1 {
      font-family: "Anton", sans-serif;
      text-align: center;
      letter-spacing: 3rem;
      margin-right: -3rem !important;
      color: rgba(7, 6, 7, 0.774); }
      @media screen and (max-width: 62.5em) {
        .header__heading--h1 {
          font-size: 20rem;
          letter-spacing: 3rem; } }
      @media screen and (max-width: 50em) {
        .header__heading--h1 {
          font-size: 15rem;
          letter-spacing: 2.8rem; } }
      @media screen and (max-width: 37.5em) {
        .header__heading--h1 {
          font-size: 10rem;
          letter-spacing: 1.2rem; } }
    .header__heading--para {
      text-transform: uppercase;
      color: #ece8e1;
      font-size: 2rem;
      letter-spacing: .2rem;
      margin-right: -.2rem !important; }
    .header__heading--icon {
      margin-top: -1rem; }
    .header__heading--img {
      height: 7rem;
      width: 7rem; }
  .header__video {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1; }
    .header__video--v {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.center__text {
  font-size: 120px; }

.glitch {
  position: relative;
  color: #ece8e1;
  mix-blend-mode: lighten; }
  .glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: black;
    clip: rect(0, 0, 0, 0); }
  .glitch:before {
    left: -1px;
    text-shadow: 1px 0 rgba(255, 0, 0, 0.7); }
  .glitch:after {
    left: 1px;
    text-shadow: -1px 0 rgba(0, 0, 255, 0.7); }
  .glitch:before {
    text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
    animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse; }
  .glitch:after {
    text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
    animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse; }

@keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0); }
  25% {
    clip: rect(25px, 9999px, 99px, 0); }
  50% {
    clip: rect(50px, 9999px, 102px, 0); }
  75% {
    clip: rect(30px, 9999px, 92px, 0); }
  100% {
    clip: rect(91px, 9999px, 98px, 0); } }

@keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0); }
  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0); }
  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0); }
  75% {
    top: 0px;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0); }
  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0); } }

.blank {
  margin-top: -3vh;
  display: flex;
  height: min-content;
  clip-path: polygon(16% 3%, 85% 3%, 100% 0, 100% 100%, 86% 97%, 15% 97%, 0 100%, 0 0);
  color: whitesmoke;
  position: relative; }
  .blank:after {
    letter-spacing: 2vw;
    font-family: "Anton", sans-serif;
    content: "BlaNK";
    font-size: 23rem;
    opacity: 0.3;
    margin: 15vw 0vw 0vh 50vw;
    position: absolute;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    color: #f70707;
    top: 0;
    left: 0; }
  .blank__logo {
    background-color: black; }
    .blank__logo--img {
      height: 30vw; }
  .blank__text {
    width: 100%;
    background-image: linear-gradient(90deg, black 0%, black 30%, #b01f22 100%); }
    .blank__text--heading--h1 {
      margin-top: 5vh;
      font-family: "Anton", sans-serif;
      font-size: 8rem;
      margin-left: 7vw;
      color: #ece8e1;
      text-shadow: 0px 2px black; }
    .blank__text--heading--p {
      font-size: 2.5rem;
      margin: 0 5vw 0 8vw; }
  @media screen and (max-width: 50em) {
    .blank {
      flex-direction: column; }
      .blank:after {
        margin: 100vw 0vw 0vh 20vw;
        font-size: 20rem; }
      .blank__logo--img {
        height: auto;
        width: 70%; }
      .blank__text {
        height: 50vh;
        margin-top: -3px;
        background-image: linear-gradient(90deg, black 0%, black 20%, #811516 55%, black 100%); } }

.filler {
  margin-top: -4vh;
  height: 2vh;
  background-image: linear-gradient(to bottom, black, #240732 30%, #240732); }

.utube {
  background: linear-gradient(to right, #d57fea79, #9907fa93), url("../img/valorant.jpg") no-repeat top center;
  margin-top: -2.5vh;
  background-size: cover;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  position: relative; }
  .utube:after {
    letter-spacing: 2vw;
    font-family: "Anton", sans-serif;
    content: "CONQUER";
    font-size: 10rem;
    opacity: 0.5;
    margin: 25vw 0vw 0vh 5vw;
    position: absolute;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    color: #f8f8fa;
    top: 0;
    left: 0;
    z-index: -1; }
  .utube__button {
    margin-top: -1vh;
    margin-bottom: 4vh; }
  .utube__video {
    margin: 7vh 0 10vh 0;
    width: 35vw;
    border-radius: 10px;
    border-radius: 12px;
    background: #240732;
    box-shadow: 9px 9px 18px #1d0628,  -9px -9px 18px #2b083c; }
    .utube__video--2 {
      margin-top: 14vh;
      margin-bottom: 4vh; }
  @media screen and (max-width: 50em) {
    .utube {
      flex-direction: column;
      background-position: center; }
      .utube:after {
        margin: 62vw 0vw 0vh 0vw; }
      .utube__video {
        margin: 7vh auto 7vh auto;
        width: 75vw;
        border-radius: 14px;
        background: linear-gradient(145deg, #270736, #20062d);
        border-radius: 10px;
        background: #240732;
        box-shadow: 7px 7px 19px #1e062a,  -7px -7px 19px #2a083b; }
        .utube__video--1 {
          display: none; } }

.game {
  padding-top: 10vh;
  margin-top: -8vh;
  min-height: 65vh;
  max-height: min-content;
  width: 100%;
  background-color: #ece8e1;
  display: flex;
  flex-direction: row-reverse;
  position: relative; }
  .game:after {
    letter-spacing: 2vw;
    font-family: "Anton", sans-serif;
    content: "VALORANT";
    font-size: 20rem;
    opacity: 0.1;
    margin: -3vh 0vw 0vh -2vw;
    position: absolute;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    color: black;
    top: 0;
    left: 0; }
  .game__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32vw; }
    .game__logo--img {
      width: 25vw;
      margin: 0 5vw 0 5vw; }
  .game__text {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .game__text--heading {
      font-weight: bold;
      padding: 9vh 0 5vh 0;
      font-size: 2.2rem;
      color: #0f1923; }
    .game__text--para {
      color: #768079;
      font-size: 1.7rem;
      padding: 0 7vw 0 7vw;
      margin-bottom: 8vh; }
    .game__text--link {
      z-index: 2; }
      .game__text--link--a {
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        color: #ece8e1;
        text-decoration: none;
        cursor: pointer;
        padding: 2vh 3.2vw;
        background-color: #ff4655;
        font-size: 1.4rem;
        border-radius: 4px;
        font-weight: bold; }
  @media screen and (max-width: 62.5em) {
    .game__logo--img {
      width: 25vw; } }
  @media screen and (max-width: 50em) {
    .game {
      flex-direction: column; }
      .game__logo {
        width: 100%; }
        .game__logo--img {
          width: 45vw;
          height: auto;
          margin: 10vh 0vw 0 0vw; }
      .game__text {
        padding-bottom: 10vh; }
        .game__text--link--a {
          padding: 3vw 7.5vw; } }

.footer {
  height: 20vh;
  background-color: #6c2e98; }
