// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Anton', sans-serif;
$font-display: 'Roboto', sans-serif;

//RESPONSIVE
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;

//BASIC
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    
    font-family: $font-display;
    
}

//GRID

.container{
    //display: grid;
    grid-template-columns: minmax(9vw,auto) repeat(4,min-content) minmax(9vw,auto);
    grid-template-rows: repeat(5,min-content);

}
.navbar{

}

.header{
    grid-column: 1/-1;
    grid-row: 2/3;
}
.game{
    grid-column: 1/-1;
    grid-row: 3/4;

}
.blank{
    grid-column: 1/-1;
    grid-row: 4/5;
}
.utube{
    grid-column: 1/-1;
    grid-row: 5/6;
}