.game{
    padding-top: 10vh; 
    margin-top: -8vh;
    min-height: 65vh;
    max-height: min-content;
    width: 100%;
    background-color: #ece8e1;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    // z-index: -1;
    &:after{
        letter-spacing: 2vw;
            font-family: $font-primary;
            content: "VALORANT";
            font-size: 20rem;
            //font-weight: bold; 
            opacity: 0.1;
            margin: -3vh 0vw 0vh -2vw ; 
            position: absolute; 
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            color: rgb(0, 0, 0); 
            top: 0; 
            left: 0; 
    }
    

    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32vw;
        &--img{
            width: 25vw;
            margin: 0 5vw 0 5vw;

        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;


        &--heading{
            font-weight: bold;
            padding: 9vh 0 5vh 0;
            font-size: 2.2rem;
            color: #0f1923;
        }
        &--para{
            color:#768079;
            font-size: 1.7rem;
            //text-align: center;
            padding: 0 7vw 0 7vw;
            margin-bottom: 8vh;
        }
        &--link{
            z-index:2;
            &--a{
                box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
                color: #ece8e1;
                text-decoration: none;
                cursor: pointer;
                padding: 2vh 3.2vw;
                background-color: #ff4655;
                font-size: 1.4rem;
                border-radius: 4px;
                font-weight: bold;
                
            }
        }
    }
   
    @media screen and (max-width: $bp-large){
        &__logo{
            
            &--img{
                width: 25vw;
    
            }
        }
    }
    @media screen and (max-width: $bp-medium){
        flex-direction: column;
        &__logo{
            width: 100%;
            &--img{

                width: 45vw;
                height: auto;
                margin: 10vh 0vw 0 0vw;
    
            }
        }
        &__text{
            padding-bottom: 10vh;
            &--link{
            
                &--a{
                    padding: 3vw 7.5vw;

                }
            }
        }
    }
}