.filler{
    margin-top: -4vh;
    height: 2vh;
    background-image: linear-gradient(to bottom,black,#240732 30%,#240732);
}

.utube{
    
    background: linear-gradient(to right,#d57fea79, #9907fa93), url("../img/valorant.jpg") no-repeat top center;
    //background: linear-gradient(to right,#d57feac9, #9907facc), url("../img/valorant.jpg") no-repeat top center;

    margin-top: -2.5vh;

    // background-image: url("../img/valorant.jpg");
    background-size: cover;
    // background-position: center;
    //background-color:#240732;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    position: relative; 
    &:after{
            letter-spacing: 2vw;
            font-family: $font-primary;
            content: "CONQUER";
            font-size: 10rem; 
            opacity: 0.5;
            margin: 25vw 0vw 0vh 5vw ; 
            position: absolute; 
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            color: rgb(248, 248, 250); 
            top: 0; 
            left: 0; 
            z-index: -1; 
    }
   
    &__button{
        margin-top: -1vh;
        margin-bottom: 4vh;
    }


    &__video{
        margin: 7vh 0 10vh 0;
        width: 35vw;
        border-radius: 10px;
        border-radius: 12px;
        background: #240732;
        box-shadow:  9px 9px 18px #1d0628, 
                     -9px -9px 18px #2b083c;


            &--2{
                margin-top: 14vh;
                margin-bottom: 4vh;
                // box-shadow:  20px 20px 60px #000000,
                // -20px -20px 60px #000000;
            }
    }




    @media screen and (max-width: $bp-medium){
        flex-direction: column;
        background-position: center;

        &:after{
            margin: 77vw 0vw 0vh 0vw ;
        }

        &__video{
            margin: 7vh auto 7vh auto;
            width: 75vw;
            border-radius: 14px;
            background: linear-gradient(145deg, #270736, #20062d);
            border-radius: 10px;
            background: #240732;
            box-shadow:  7px 7px 19px #1e062a, 
             -7px -7px 19px #2a083b;
            &--1{
                display: none;
            }

        }
    }
}