.footer{
    min-height: 10vh;
    max-height: min-content;
    background: linear-gradient( #6c2e98, #621492) ;
    //#381365
    //#6837a2
    //#6c2e98
    
    
}
.info{

    &__1{
        padding-top: 4vh;
        padding-bottom: 1vh;
        display: flex;
        font-size: 1.8rem;
        color: rgb(202, 200, 196);
        justify-content: space-around;
        font-family: 'valorantFont';
        text-align: center;
        text-shadow: 0px 1px#621492;

        &0--p{
            color: rgb(27, 26, 26);
            text-align: center;
            font-size: 2rem;
            padding: 1rem 0 2rem 0;
        }
        &1{
            text-align: center;
        }
        &1--img{
            padding-top: .5rem;
            height: 5vh;
        }
        @media screen and (max-width: $bp-medium){
            flex-direction: column;
            font-size: 1.3rem;
        }
    }
    &__2{
        text-align: center;
    }
    &__2{
        width:100vw;
        background-color: #621492;
        padding-bottom: .5vh;
        &--a{
            text-decoration: none;
        }
        
        &--p{
            color: blanchedalmond;
            font-size: 1.3rem;
            
        }
    }
}